/* Variables */
:root{
  --primary:#f6faf9;
  --secondary:linear-gradient(to right top, #4ee7cb, #6cdbeb);
  --para-color: #5b5e6d; 
  --header-title-color:#323648;
  --title-color: #444;
} 
/* reset */
body,p,a,ul,li{
  margin:0px;
  padding:0px;
  text-decoration: none;
  color: #000;
}
li{
  list-style-type:none;
}

/* Base Style */

body{
  overflow-x: hidden;
  border-radius: 1px;
  background:var(--secondary);
    }

  div{
    display:block;
  }
  nav{
    display: block;
  }
  main{
    background: var(--secondary);
  }

  .modal-btn{
    padding:5px 10px;
    background-color: #57cab5;
    color: white;
    border: none;
    border-radius: 2em;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    position: relative;
  }

  
  input,textarea{
    background: rgba(255,255,255,0.05);
    padding:10px 16px;
    border-radius: 20px;
    border:2px solid #9893D8;
    color:#f2f2f2;
  }
  form{
    display:block;
  }
  .form-input{
    padding: 10px 15px;
    margin:0 auto;
    max-width: 420px;
  }

  .wrapper{
    display:flex;
    flex-flow:row wrap;
    text-align:center;
    margin-top: 10px;
  }
  .wrapper>*{
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
  }
  .btn-primary {
    color: #fff;
    background-color: #f5637c;
    border-color: #f5637c; }
    .btn-primary:hover {
      color: #fff;
      background-color: #f33f5e;
      border-color: #f23354; }
    .btn-primary:focus, .btn-primary.focus {
      color: #fff;
      background-color: #f33f5e;
      border-color: #f23354;
      box-shadow: 0 0 0 0.2rem rgba(247, 122, 144, 0.5); }
    .btn-primary.disabled, .btn-primary:disabled {
      color: #fff;
      background-color: #f5637c;
      border-color: #f5637c; }
    .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
    .show > .btn-primary.dropdown-toggle {
      color: #fff;
      background-color: #f23354;
      border-color: #f1274a; }
      .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
      .show > .btn-primary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(247, 122, 144, 0.5); 
      }
      .btn-secondary {
        color: #212529;
        background-color: rgba(247, 124, 146, 0.2);
        border-color: rgba(247, 124, 146, 0.2); }
        .btn-secondary:hover {
          color: #fff;
          background-color: rgba(245, 88, 116, 0.2);
          border-color: rgba(244, 76, 106, 0.2); }
        .btn-secondary:focus, .btn-secondary.focus {
          color: #fff;
          background-color: rgba(245, 88, 116, 0.2);
          border-color: rgba(244, 76, 106, 0.2);
          box-shadow: 0 0 0 0.2rem rgba(116, 71, 82, 0.5); }
        .btn-secondary.disabled, .btn-secondary:disabled {
          color: #212529;
          background-color: rgba(247, 124, 146, 0.2);
          border-color: rgba(247, 124, 146, 0.2); }
        .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
        .show > .btn-secondary.dropdown-toggle {
          color: #fff;
          background-color: rgba(244, 76, 106, 0.2);
          border-color: rgba(243, 64, 96, 0.2); }
          .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
          .show > .btn-secondary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(116, 71, 82, 0.5); }
            a.action-button, button.action-button {
              border: 2px solid #f5637c;
              color: #fff;
              font-size: 17px;
              line-height: 25px;
              display: inline-block;
              padding: 10px 25px;
              text-decoration: none;
              outline: none;
              text-transform: capitalize; }
            
            a.action-button:hover, a.action-button:active,
            button.action-button:hover, button.action-button:active {
              background: #fff;
              color: #f5637c;
              border: 2px solid #f5637c; }

  img{
      justify-content: center;
  }

/* Fonts */
/* Mobile styles */
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  min-height: 12vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  width: 100%;
  z-index: 12;
  }
  .logo{
    color:aliceblue;
      text-transform: uppercases;
      letter-spacing: 3px;
      font-size: 20px;
    }
    .burger div{
      width:25px;
      height: 3px;
      background-color: aliceblue;
      margin: 5px;
      transition: all 0.3s ease;
    }

    .burger{
      display: block;
      cursor: pointer;
    }
    .nav-links{
      position: absolute;
      right: 0px;
      height: 38.5vh;
      top: 14.5vh;
      background:linear-gradient(to right top, #65dfc9, #6cdbeb);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      transform: translateY(-130%); 
      transition: transform 0.5s ease-in;
      opacity: 0.95;
      z-index: 10;
      
    }
  
    .nav-links li, a{
      padding:20px;
      position: relative;
      color:aliceblue;
      text-decoration: none;
      letter-spacing: 3px;
      font-weight:  bold;
      font-size: 14px;
      list-style: none;
      z-index: 1;
      opacity: 1;
    }
    
    .nav-active{
      transform: translateX(0%);
    }
    .toggle .line1{
      transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle .line2{
      opacity: 0;
    }
    .toggle .line3{
      transform: rotate(45deg) translate(-5px, -6px);
    }

    .banner{
      height:200px;
      overflow: hidden;
      background: url(../images/b1.jpg) no-repeat center;
      background-size: cover;
    }
    .banner-container{
      position: relative;
      top:50%;
      left:40%;
      right:40%;
      transform: translate(-50%, -50%);
      overflow: hidden;
      text-align: center;
      color:rgb(17, 18, 19);
      font-weight:800;
      font-size: 28px;
      align-items: center;
    }
    .intro{
      position: relative;
      align-items: center;
      font-size: 25px;
      font-family: monospace;
      padding-right: 70px;
      margin-bottom: 10px;
      padding-bottom: 0px;
    } 
    .description{
      position:relative;
      padding-left: 2.5em;
      align-items: center;
      font-size: 15px;
      font-family: monospace;
      padding-right: 30px;
      bottom:20%;
    }
    
 

    /* Do you like my work Button */
    .modal{
      position: fixed;
      width: 100%;
      height: 100%;
      top:0;
      left:0;
      background:linear-gradient(to right top, #65dfc9, #6cdbeb);
      display:none;
      justify-content: center;
      align-items: center;
      transition: visibility 0s, opacity 0.5s;
      z-index: 1;
      backdrop-filter: blur(2rem);
    } 
    .modal-active{
      display: flex;
      position: absolute;
      }
      .modal-content{
        box-sizing:border-box;
        margin-top: 155px;
        border: 1em;
        font-family: sans-serif;
        background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255, 0.3));
        width: 60%;
        min-height: 70vh;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 1rem; 
        backdrop-filter: blur(2rem);
      }
      .modal-close{
        position:absolute;
        top: 10px;
        right:10px;
        font-weight: bold;
        cursor: pointer; 
      }

      .main-title-head{
        max-width: 700px;
        margin: 10px auto 5px;
        padding: 1rem;
      }
      .text-primary{
        color: red;
        font-size: 25px;
        padding: 10px;
        margin: 1rem;
      }
      .para{
        background: #94c4bb;
      }
      .text-center{
        text-align: center;
      }
      .header-name h3{
        font-family: sans-serif;
        font-weight: 600;
        font-size: 25px;
        padding:0.75rem
       }
       .para{
         font-family: sans-serif;
         font-size: 20px;
         background-color:white;
       }

       /* CSS GRID */
       .main{
        text-align:left;
        background: #F2EDEC;
        height:auto;
        font-size: 24px;
      text-justify: auto;
      }
      .aside1{
        background: linear-gradient(to right top, #65dfc9, #6cdbeb);
      }
      .aside2{
        background: linear-gradient(to right top, #65dfc9, #6cdbeb); 
      }
      .main{
        flex:1;
      }
      .aside1{
        order:1;
      }
      .aside1-grid, h1{
        display: inline-block;
        grid-template-columns: 25%;
        grid-column-gap: 1em;
        grid-row-gap:1em;
      }
      .aside2{
        order: 2;
        justify-content: center;
      }
      .main{
        order:1;
      }
      .box {
        margin:0px 10px;
      }

      .aside1-grid div{
        background:#eee;
        padding:1em;
      }
      .aside1-grid div:nth-child(odd){
        background:#ddd;
      }
      

      .img-responsive{
        
        position: relative;
        align-items: center;
        justify-content: center;
        width: 80%;

        
        /* max-height: 300px; */
        border-radius: 1rem;
        padding-top: 10px;
        padding-right: 10px;
        
    }
      
/* Footer */
.footer{
  order: 4;
  position: bottom fixed ;
}
.footer-left{
  flex: 1 0px;
  padding: 5px;
}

footer{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  padding:50px;
  color: #fff;
  background-color: #131419;  
  border-radius: 10px;
}
.footer>*{
  flex:1 100%;
}
.footer-left{
  margin-right: 1.25em;
  margin-bottom: 2em;
}
.footer-logo{
  width:50%;

}
h2{
  font-weight:600;
  font-size: 17px;
}
.footer ul {
  list-style: none;
  padding-left: 0;
}
.footer li{
  line-height: 2em;

}
.footer a{
  text-decoration: none;
}

.footer-right{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
}
.footer-right{
  flex: 1 50%;
  margin-right: 1.25em;
}
.box a{
  color:#999;
}
.footer-bottom{
  text-align: center;
  color:#999;
  padding-top: 50px;
}
.footer-left p{
  padding-right: 20%;
  color: #999;
}
.socials a{
  background: #364a62;
  width:40px;
  height: 40px;
  display:inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
.socials a i{
  color:#e7f2f4;
  padding: 10px 12px;
  font-size:20px;
}

/* Other pages common portion */
.glass{
  position: relative;
  min-height: 100vh;
  background:var(--secondary);
  display:flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
  height:100%;
  padding-right: 15px;
  padding-left: 15px;
}
.grid-info{
  display:grid;
  height:100%;
  padding: 15px;
  grid-template-columns: 1fr ;
  justify-content: center;
}

.grid-item{
  padding: 20px;
}
.grid-hobby{
  display:grid;
  height:100%;
  padding:15px;
  grid-template-columns:1fr;
  grid-template-rows: 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  justify-content: center;
   
}

.service-three{
  padding:20px;

}

.portfolio-grid{
  display: grid;
  height:fit-content;
  padding:15px;
  grid-template-columns:1fr ;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.product {
  position: relative;
  border: 2px solid #dcdcdc;
  padding: 10px 10px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  border-radius: 5px; 
align-items: center;}
  .product:hover {
    border: 2px solid #f5637c; }

    .container{
      width:90%;
      padding-left: 60px;
      padding-right: 60px;
      padding-top: 100px;
      align-items: center;
      
    }
    .my-profile {
      display:grid;
      grid-template-columns: 3fr;
      grid-gap: 10px; }
    
      /* .img-fluid {
        max-width: 100%;
        height: auto; } */
      .my-pic {
        border: 2px solid #f5637c;
        border-radius: 100px;
        max-width: 100px; 
      }
      .my-details h6 {
        padding-top: -10px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: var(--para-color); }

        p.para {
          font-size: 17px;
          line-height: 28px;
          color: var(--para-color); }

          .details-details ul{
            display: grid;
            grid-template-columns: 1fr 1fr; 
            column-gap: 0.5rem;
            align-items: left;
          }

            .details-details ul li a {
              font-size: 12px;
              line-height: 28px;
              color: var(--para-color); 
            margin:0px 0px 15px;}

            .my-bio{
              display:flex;
              flex-direction: column;
              width: 100%;
            } 
            .my-bio h5 {
              font-size: 25px;
              color: var(--header-title-color);
              font-weight: 600;
              margin: 0px 0px 15px; }
              /* .my-bio:nth-child(2) {
                margin-top: 20px; }  */

            .details-details {
              margin: 20px 0px 0px; } 
              .my-bar-grids h4 span {
                float: right;
                font-size: 0.9em;
                font-weight: 600; }
                .my-bar-grids h4 {
                  font-size: 17px;
                  line-height: 25px;
                  color: var(--title-color);
                  margin-bottom: 10px;
                  text-transform: capitalize; }
                  .progress {
                    display: flex;
                    height: 1rem;
                    overflow: hidden;
                    font-size: 0.75rem;
                    background-color: #e9ecef;
                    border-radius: 0.25rem; }
                    .progress-bar {
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      overflow: hidden;
                      color: #fff;
                      text-align: center;
                      white-space: nowrap;
                      background-color: #f5637c;
                      transition: width 0.6s ease; }
                    .progress-bar-striped {
                      background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
                      background-size: 1rem 1rem; }

                      .my-edcation {
                        border-bottom: 1px solid #999;
                        padding-bottom: 10px;
                        margin-bottom: 25px; }
                        
                        .my-edcation h4 {
                          color: var(--title-color);
                          font-size: 20px;
                          line-height: 30px;
                          font-weight: 500;
                          margin-bottom: 10px; }
                          .my-edcation:nth-child(4) {
                            margin: 0px; }

                            .my-edcation span {
                              font-size: 15px;
                              line-height: 25px;
                              color: #f5637c;
                              margin-bottom: 5px;
                              display: inline-block; }
                          
                              


/* Contact form */
.container-form{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  max-width: 350px;
  width:100%;
  background: #fff;
  padding:25px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgba(244, 76, 106, 0.2);
}
.container-form .input_field{
  margin-bottom: 10px;
}
.container-form .input_field input[type="text"],
.container-form textarea{
  width:90%;
  border:1px solid #e0e0e0;
  padding:10px;
}

.container-form textarea{
  height:80px;
  resize:none;
  color: #131419;
}

.container-form #error_message{
  margin-bottom: 20px;
  padding:0px;
  background: #fe8b8e;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

                      /* larger tablets & laptops Style */

@media screen and (min-width:768px){
  nav{
    position:fixed; 
    display:flex;
    height:auto;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    min-height: 12vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    width: 100%;
    z-index: 12;
  }
    .logo{
        position: relative;
        color:aliceblue;
        letter-spacing: 2px;
        font-size: 30px;
        right:5%;

      }
      .burger{
        display:none;
      } 

      .nav-links{
        position: relative;
        display: flex; 
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 40%; 
        top:1vh;
        height: 20vh;
        transform: translateY(0); 
        transition: transform 0.5s ease-in;
        background: none;
      }
      .nav-links li, a{
        position: relative;
        color:aliceblue;
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 15px;
        width: 20%;
        right:3em;
      }
      .banner{
        height: 650px;
        overflow: hidden;
        background: url(../images/b1.jpg) no-repeat center;
        background-size: cover;
      }

      .banner-container{
        position: relative;
        top:60%;
        left:30%;
        right:50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        text-align: center;
        color:rgb(17, 18, 19);
        font-weight:800;
        font-size: 28px;
        align-items: center;
      }
      .intro{
        position: relative;
        align-items: center;
        font-size: 25px;
        font-family: monospace;
        padding-right: 70px;
        margin-bottom: 10px;
        padding-bottom: 0px;
      } 
      .description{
        position:relative;
        padding-left: 2.5em;
        align-items: center;
        font-size: 15px;
        font-family: monospace;
        padding-right: 30px;
        bottom:20%;
      }
      .aside1-grid{
        display: flex;
        grid-template-columns: 25%;
        grid-column-gap: 1em;
        grid-row-gap:1em;
      }

      .main{
        flex:1;
      }
      .container{
        top:100px;
        width:90%;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 100px;
        margin-top: 100px;
        align-items: center;
        
      }
     
     
      
      
     

      .grid-info{
        display:grid;
        height:100%;
        padding: 15px;
        grid-template-columns: 1fr 1fr ;
      }
      
      .grid-item{
        padding: 20px;
        
      }

      .grid-hobby{
        display:grid;
        height:100%;
        padding:15px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        row-gap: 1rem;
      }
      .grid-hobby div{
        background:#eee;
        padding:1em;
      }
      .grid-hobby div:nth-child(odd){
        background:#ddd;
      }
      
      .service-three{
        padding:20px;
      }
      
      .modal-btn{
        position: relative;
      }

      .portfolio-grid{
        display: grid;
        height:auto;
        padding:15px;
        grid-template-columns:1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;
        align-content: center;
        justify-content: center;
        align-items: center;

      }
      .img-responsive{
        float: left;
        width: 96%;
        min-height: auto;
        border-radius: 1rem;
        padding-top: 10px;
        padding-left: 10px; 
    }

    .container{
      width:80%;
      padding-left: 60px;
      padding-right: 60px;
      padding-top: 100px;
      align-items: center;
      
    }

    .my-profile {
      grid-template-columns: 1fr 6fr;
       }

       .details-details ul li strong {
        font-size: 19px;
        line-height: 25px;
        color: var(--title-color);
        font-weight: 600; }

        .my-bio{
          display:block;
          width: 100%;
          
        } 

        .my-profile1{
          max-width: 10%;
          
        }
        .my-profile2{
          padding-top:10px;
          max-width: 30%;
          align-items: stretch;
        } 
        .row{
          max-width: 100%;
        }

        .row1 {
          display: grid;
          grid-template-columns: 0fr 1fr;
          column-gap: 3rem;
          }
          .row2{
            display:grid;
            grid-template-columns: 1fr 1fr; 
            column-gap: 3rem;
          }


      

} 

/* Desktop Styles  */
@media screen and (max-width:1200px){
 /* @media screen and(min-width:1200px){  */
    .logo{
      color:aliceblue;
        text-transform: uppercases;
        letter-spacing: 5px;
        font-size: 50px;
        margin: 0px;
        padding:0px;
      }
      
      .burger{
        display:none;
      } 
      .nav-links{
        align-items: center;
        display: flex; 
        position:relative;
        justify-content: space-around;
        width: 60%; 
        background: none;
      }
      .banner-container{
        position: relative;
        top:50%;
        left:50%;
        right:auto;
        transform: translate(-50%, -50%);
        overflow: hidden;
        text-align: center;
        color:rgb(17, 18, 19);
        font-weight:800;
        font-size: 28px;
        align-items: center;
      }
      .intro{
        position: relative;
        align-items: center;
        font-size: 25px;
        font-family: monospace;
        padding-right: 70px;
        margin-bottom: 10px;
        padding-bottom: 0px;
      } 
      .description{
        position:relative;
        padding-left: 2.5em;
        align-items: center;
        font-size: 15px;
        font-family: monospace;
        padding-right: 30px;
        bottom:20%;
      }

      .footer-right>*{
        flex:1;
      }
      .footer-left{
        flex: 1 0px;
      }
      .footer-right{
        flex:2 0px;
      }
      
      .container{
        width:40%;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 100px;
        align-items: center;
        
      }
      .main-title-head{
        padding-top: 100px;
      }
      
      .info-about{
        display:flex;
        justify-content: left;
        justify-content: center;
      }
      .grid-hobby{
        display:grid;
        height:100%;
        padding:15px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        row-gap: 1rem;
      }
      
      .service-three{
        padding:20px;
        
      }
      .portfolio-grid{
        display: grid;
        height:fit-content;
        padding:15px;
        grid-template-columns:1fr 1fr 1fr ;
        grid-template-rows: repeat(2, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;
        align-content: center;
        justify-content: center;
        align-items: center;
      }
      
      
} */





@keyframes navLinkFade {
  from{
    opacity:0;
    transform: translateX(50px);
  }
  to{
    opacity:1;
    transform: translateX(0px);
  }
}