*{
  margin: 0px;
  padding: 1px;
  box-sizing: border-box;
}
.wrapper{
  display:flex;
  flex-flow:row wrap;
  text-align:center;
  margin-top: 15px;
}

.wrapper>*{
  padding: 10px;
  margin: 10px;
  flex: 1 100%;
  border-radius: 10px;

}
body
 {
  margin:0px 2px 2px 2px;
  border-radius: 1px;
  }
  .btn{
    cursor: pointer;
  }
div{
  display:block;
}

nav{
display: flex;
justify-content: space-around;
align-items: center;
font-family: sans-serif;
min-height: 12vh;
background-color: #f5c6cb;
}

.logo{
color:aliceblue;
  text-transform: uppercases;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links{
  display: flex; 
  justify-content: space-around;
  width: 30%;
}

.nav-links li, a{
  color:aliceblue;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight:  bold;
  font-size: 14px;
  list-style: none;
}
.burger{
  display:none;
  cursor: pointer;
}

.burger div{
  width:25px;
  height: 3px;
  background-color: aliceblue;
  margin: 5px;
  transition: all 0.3s ease;
  
}
.banner{
  z-index: -5;
  position: relative;
  height: 500px;
  overflow: hidden;
  background: url(../images/b1.jpg) no-repeat center;
  background-size: cover;

}
.banner-container{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
  color:aliceblue;
  font-weight:800;
  
}

.banner-container h1 span{
  font-size: 72px;
  font-family: sans-serif;

  
}
.banner-container btn{

  display: block;
  width: fit-content;
  color:#313131;
  padding:10px 24px;
  font-size: 20px;
  text-decoration: none;
  background: aliceblue;
  border-radius: 8px;
  transition: 0.3s all;
  text-transform: uppercase ;
}
.main{
  text-align:left;
  background: deepskyblue;
  height:300px;
  font-size: 24px;
  
}
.aside1{
  background: gold;
}
.aside2{
  background: hotpink;
}

footer{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  padding:50px;
  color: #fff;
  background-color: #131419;  
}
.footer>*{
  flex:1 100%;
}
.footer-left{
  margin-right: 1.25em;
  margin-bottom: 2em;
}
.footer-logo{
  width:50%;

}
h2{
  font-weight:600;
  font-size: 17px;
}
.footer ul {
  list-style: none;
  padding-left: 0;
}
.footer li{
  line-height: 2em;

}
.footer a{
  text-decoration: none;
}

.footer-right{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
}
.footer-right{
  flex: 1 50%;
  margin-right: 1.25em;
}
.box a{
  color:#999;
}
.footer-bottom{
  text-align: center;
  color:#999;
  padding-top: 50px;
}
.footer-left p{
  padding-right: 20%;
  color: #999;
}
.socials a{
  background: #364a62;
  width:49px;
  display:inline-block;
  margin-right: 10px;
}
.socials a i{
  color:#e7f2f4;
  padding: 10px 12px;
  font-size:20px;
}


@media screen and (min-width:1550px){
.nav-links{
  width: 65%;
}
.aside{
  flex:1;
}
.footer-right>*{
  flex:1;
}
.footer-left{
  flex: 1 0px;
}
.footer-right{
  flex:2 0px;
}


}


@media screen and (max-width:1024px){
  .nav-links{
    width: 50%;
  }
  
}

@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color:#f5c6cb;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    opacity: 0.80;
  }
  .nav-links li{
    opacity: 1;
  }
  .burger{
    display: block;
  }
  .nav-active{
    transform: translateX(0%);
  }
  
  .banner{
    z-index: -5;
    height: 320px; 
    background-size: cover;}
  
  .banner-container{
    position:absolute;
    top:50%;
    left:30%;
    right:10%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
    color:#313131;
    font-weight:800;
  }
  .btn{
    
    position:absolute;
    top:90%;
    left:30%;
    right:10%;
    width: fit-content;
    color:#313131;
    padding:10px 20px;
    font-size: 20px;
    text-decoration: none;
    background: aliceblue;
    border-radius: 8px;
    transition: 0.3s all;
    text-transform: uppercase ;
    cursor: pointer;
  }
  .main{
    flex: 3;
  }
  .aside1{
    order: 1;
  }
  .aside2{
    order: 2;
  }
  .main{
    order:2;
  }
  
  .footer{
    order: 4;
  }
  
  
}

@keyframes navLinkFade {
  from{
    opacity:0;
    transform: translateX(50px);
  }
  to{
    opacity:1;
    transform: translateX(0px);
  }
  

.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);

}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px, -6px);
}

  
    

  